<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joey Gunz 2025</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/NavbarStyling.css">
    <link rel="stylesheet" href="css/style.css">

     <!--fontawesome --> 
     <script src="https://kit.fontawesome.com/871b467013.js" crossorigin="anonymous"></script>
     
     <!-- javaScript -->
     <script src="main.js" defer></script>

     <!-- Google Adsense -->
     <!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8413044436510041"
     crossorigin="anonymous"></script>

          <!-- Google analytics tag (gtag.js) -->
          <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-CEVV0EZT5V"></script>
          <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
    
            gtag('config', 'G-CEVV0EZT5V'); --> 
          </script>
</head>

<body>
  <%- include('./navbar') %>

  <div class="containAll">