

<script src="https://kit.fontawesome.com/871b467013.js" crossorigin="anonymous"></script>



<nav>
    <div class="mainNavUl">
      <h2 class="nav-title">{ Powell Media }</h2>
      <i class="fas fa-bars"></i> 
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li class="adminBtn"><a href="/admin">admin</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
        <form class="searchForm" name="searchForm">
          <i class="fas fa-search"></i>
          <input class="searchInput" type="text" placeholder='Search'  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search'">
        </form>
      </ul>
      
    </div>
    
</nav>






<!-- Mobile navigation -->
<section class="slideMenu">
  
      <ul>
        <form class="searchForm" name="searchForm">
          <i class="fas fa-search"></i>
          <input class="searchInput" type="text" placeholder='Search'  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search'">
        </form>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>  
        <li><a href="/services">Services</a></li>      
        <li><a href="/blogs">Blogs</a></li>
       
      </ul>

</section>