<%- include('./includes/header') %>



<main>
       
           
       
  <form class="reglogForm">
      <h2></h2>
      <h3>Login</h3>
      <div>
        <label for="user">Email or username</label>
        <input type="text" name="user" id="user" >
      </div>
      <div>
        <label for="password">Password</label>
        <input type="text" name='password' id="password" >
      </div>
      <h4></h4>
      <input type="submit">
  </form>
</main>





<%- include('./includes/footer') %>