<%- include('./includes/header') %>



<main>
       
           
       
  <form class="reglogForm">
      <h2></h2>
      <h3>Register</h3>

      <div>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" >
      </div>
      <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" >
      </div>
      <div>
        <label for="password">Password</label>
        <input type="text" name='password' id="password" >
      </div>
      <h4></h4>
      <input type="submit">
  </form>
</main>





<%- include('./includes/footer') %>